@media (max-width: 768px) {
    #map {
        height: 70vh; /* Disminuye un poco la altura para dispositivos móviles */
    }

    .controls {
        top: auto;
        bottom: 10px; /* Mueve los controles al fondo */
        left: 50%;
        transform: translateX(-50%);
        width: 90%; /* Más ancho en dispositivos móviles */
        padding: 15px;
        box-sizing: border-box;
    }

    .controls input {
        width: 100%; /* Ajusta el ancho del input */
        margin-bottom: 10px;
        padding: 10px;
    }

    .controls button {
        width: 100%; /* Los botones ocupan el ancho completo */
        padding: 10px;
        font-size: 16px;
    }
}
